@font-face {
    font-family: "Terminal";
    src: url(../fonts/terminal-grotesque.ttf);
}

@font-face {
    font-family: "b-base";
    src: url(../fonts/bianzhidai_noBG-Base.otf);
}

@font-face {
    font-family: "Steps";
    src: url(../fonts/Steps-Mono.otf)
}

@font-face {
    font-family: "Array";
    src: url(../fonts/Array-Wide.otf);
}

@font-face {
    font-family: "Nippo";
    src: url(../fonts/Nippo-Light.otf);
}

@font-face {
    font-family: "Orbitron";
    src: url(../fonts/Orbitron\ Medium.otf);
}

body {
    margin: 1rem;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: cornflowerblue;
    background-image: url(../images/background-wallpaper.png);
    image-rendering: pixelated;
    text-align: center;
    overflow-x: hidden;
}

h1 {
    font-family: "Terminal";
    font-size: large;
    margin: 0px;
}

a {
    text-decoration: none;
}

p {
    font-family: "Terminal";
    font-size: x-large;
    margin: auto;
    display: inline;
    margin: 1rem;
    vertical-align:super;
}

footer {
    display: block;
    position: absolute;
    z-index: -1;
    margin: 0px;
    bottom: 1rem;
    left: 1rem;
}

.draggable {
    position: relative;
}

.inlineImage {
    display: inline;
    vertical-align: baseline;
}

.windowsArea {
    display: block;
    margin: 0;
    width: 100%;
    height: 100%;
}

.window {
    display: block;
    position: relative;
    border-style: ridge;
    box-shadow: 4px 4px black;
    margin-top: 4%;
}

.windowBar {
    display: flex;
    position: relative;
    max-width: 100%;
    background-color: #f8f6f5;
    border-style: groove;
    cursor: grab;
    align-items: center;
    justify-content: center;
}

.close {
    display: block;
    position: absolute;
    left: 0rem;
    width: 20px;
    height: 100%;
    background-color: #e16704;
    font-family: "Terminal";
}

.close:hover {
    background-color: chartreuse;
    content:url(../images/100470.png)
}

.windowContent {
    display: flex;
    flex-direction: column;
    position: relative;
    min-width: fit-content;
    min-height: fit-content;
    max-height: min-content;
    background-color: #efe3d1;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    border-style: groove;
}

#w1 {
    display: block;
    position: relative;
    left: 5rem;
    max-width: 10%;
    min-width: fit-content;
}

#w2 {
    display: block;
    position: relative;
    top: 1rem;
    left: 4rem;
    max-width: 10%;
    min-width: fit-content;
}

#w3 {
    display: block;
    position: relative;
    top: 3rem;
    left: 1rem;
    max-width: 10%;
    min-width: fit-content;
}
